# Automatically created by: gcz_scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = gcz_scrapy.settings

[deploy]
project = gcz_scrapy
